{% set page_title="Customer Invoices" %}
{% extends "templates/main.html" %}
{% block title %}Customer Invoices{% endblock %}
{% block main_page %}
<div id="customer_invoice_list"></div>
<script type="text/babel" src="/static/src/js/filter-babel.js"></script>
<script type="text/babel" src="/static/src/js/search-bar-babel.js"></script>
<script type="text/babel" src="/static/src/js/pagination-babel.js"></script>
<script type="text/babel" src="/main/kasir/customer-invoices/index-babel.js"></script>
{% endblock %}