{% set page_title="Payment Methods" %}
{% extends "templates/main.html" %}
{% block title %}Payment Methods{% endblock %}
{% block main_page %}
<div id="payment_method"></div>
<script type="text/babel" src="/static/src/js/search-bar-babel.js"></script>
<script type="text/babel" src="/main/kasir/payment-method/index-babel.js"></script>
<script type="text/babel" src="/static/src/js/pagination-babel.js"></script>
<script type="text/babel" src="/static/src/js/filter-babel.js"></script>
{% endblock %}