{% set page_title="Alur Farmasi" %}
{% extends "templates/main.html" %}
{% block main_page %}
<div style="background: #FFFFFF; box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1); padding: 80px 0;">
	<div class="row justify-content-center">
		<div class="col-auto">
			<div class="row justify-content-center">
				 <div class="col-auto text-center">
				 	<p class="mb-0 fs16 fw500" style="font-family: Rubik;">
				 		Penerimaan
				 	</p>
				 	<img class="my-2" src="/static/img/main/menu/line-dashed-short-horizontal.png">
				 </div>
			</div>
			<div class="row justify-content-center">
				<div class="col-auto text-center">
					<img src="/static/img/main/menu/left-bottom-arrow.png" class="mt-4">
				</div>
				<div class="col-auto text-center">
					<img class="my-2" src="/static/img/main/menu/client.png">
				</div>
				<div class="col-auto text-center">
					<img src="/static/img/main/menu/right-bottom-arrow.png" class="mt-4">
				</div>
			</div>
			<div class="row mt-3 justify-content-between">
				<div class="col-auto text-center py-3 px-4">
					<a href="/main/dokter-dan-jasa/tindakan-dokter" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
						<img src="/static/img/main/menu/menuTindakanDokter.png">
						<p class="mb-0">
							Tindakan Dokter
						</p>
					</a>
				</div>
				<div class="col-auto text-center d-flex">
					<img src="/static/img/main/menu/right.png" class="my-auto">
				</div>
				<div class="col-auto text-center px-4 py-3 mx-1" style="border: 3px dashed #BDBDBD;">
					<a href="/main/rekam-medis" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
						<img src="/static/img/main/menu/menuRekamMedis.png">
						<p class="mb-0">
							Rekam Medis
						</p>
					</a>
				</div>
				<div class="col-auto text-center d-flex">
					<img src="/static/img/main/menu/left.png" class="my-auto">
				</div>
				<div class="col-auto text-center px-4 py-3">
					<a href="/main/dokter-dan-jasa/grooming" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
						<img src="/static/img/main/menu/menuGrooming.png">
						<p class="mb-0">
							Grooming
						</p>
					</a>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-auto text-center" style="margin-left: 65px;">
					<img src="/static/img/main/menu/bottom.png" class="my-auto">
				</div>
			</div>
			<div class="row">
				<div class="col-auto text-center">
					<div class="row">
						<div class="col-auto text-center d-flex">
							<p class="my-auto fs12 fw600 rounded" style="background: #C6EAFF; padding: 8px 5px; color: #056EAD; width: 141px;">
								Butuh Tindakan Lanjut
							</p>
						</div>
						<div class="col-auto text-center d-flex">
							<div class="my-auto px-2">
								<p class="fs12 mb-0">
									Tidak
								</p>
								<img src="/static/img/main/menu/right-short.png" class="my-auto">
							</div>
						</div>
						<div class="col-auto text-center">
							<div class="px-4 py-3">
								<a href="/main/farmasi" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
									<img src="/static/img/main/menu/menuFarmasi.png">
									<p class="mb-0">
										Farmasi
									</p>
								</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-auto text-center ml-5">
							<img src="/static/img/main/menu/double-bottom-right.png" class="my-auto ml-4">
						</div>
						<div class="col-auto text-center">
							<div class="px-4 py-3" style="margin-top: 70px">
								<a href="/main/dokter-dan-jasa/rawat-inap" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
									<img src="/static/img/main/menu/menuRawatInap.png">
									<p class="mb-0">
										Rawat Inap
									</p>
								</a>
							</div>
							<div class="px-4 py-3" style="margin-top: 30px;">
								<a href="/main/dokter-dan-jasa/instalasi-medis" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
									<img src="/static/img/main/menu/menuInstalasiMedis.png">
									<p class="mb-0">
										Instalasi Medis
									</p>
								</a>	
							</div>
							<div class="position-relative">
								<img src="/static/img/main/menu/bottom-right-arrow.png" class="position-absolute" style="top: 0; left: 50%;">
							</div>
						</div>
					</div>
				</div>
				<div class="col text-center">
					<div style="margin-top: -80px; margin-left: 5px;" class="text-left">
						<img src="/static/img/main/menu/doctor-direction-left-bottom.png" class="my-auto">
					</div>
					<div class="row justify-content-end">
						<div class="text-center px-4 py-3" style="border: 3px dashed #BDBDBD; margin: 30px 0">
							<a href="/main/kasir" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
								<img src="/static/img/main/menu/menuKasir.png">
								<p class="mb-0">
									Kasir
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}