{% extends "templates/web.html" %}

{% set user_lang = frappe.db.get_all("User", filters={'name': frappe.session.user}, fields=["language"]) %}

{% block navbar %}
{% endblock %}

{% block page_content %}
<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-auto sidebar-overlay">
				<div class="sidebar-overlay-close"></div>
				<div class="sidebar-panel">
					<div class="sidebar-logo" id="sidebar_logo" data-version="development">
						<div class="d-flex" style="height: 177px">
							<i class="m-auto fa fa-circle-o-notch fa-spin fa-4x text-muted"></i>
						</div>
					</div>
					<div class="sidebar-menu-list d-none">
						<div class="sidebar-menu-list-dropdown">
							<a href="/main/penerimaan" class="sidebar-menu-list-dropdown-link">
								<img src="/static/img/main/menu-icon/penerimaan.png"
									class="sidebar-menu-list-icon">Penerimaan
							</a>
							<div class="sidebar-menu-list-group">Data dan Registrasi
								<a data-doctype="VetPetOwner" href="/main/penerimaan/data-pemilik"
									class="sidebar-menu-list-item">Data Pemilik</a>
								<a data-doctype="VetPetOwner" href="/main/penerimaan/data-pasien"
									class="sidebar-menu-list-item">Data Pasien</a>
							</div>
							<div class="sidebar-menu-list-group">Penerimaan
								<a data-doctype="VetReception" href="/main/penerimaan/penerimaan-pasien"
									class="sidebar-menu-list-item">Penerimaan Pasien</a>
								<a data-doctype="VetScheduledService" href="/main/penerimaan/layanan-berjadwal"
									class="sidebar-menu-list-item">Layanan Berjadwal</a>
							</div>
						</div>
						<div class="sidebar-menu-list-dropdown">
							<a href="/main/dokter-dan-jasa" class="sidebar-menu-list-dropdown-link">
								<img src="/static/img/main/menu-icon/dokter.png"
									class="sidebar-menu-list-icon"></i>Dokter dan Jasa
							</a>
							<div class="sidebar-menu-list-group">Data
								<a data-doctype="VetKandang" href="/main/dokter-dan-jasa/kandang"
									class="sidebar-menu-list-item">Kandang</a>
							</div>
							<div class="sidebar-menu-list-group">Umum
								<a data-doctype="VetTindakanDokter" href="/main/dokter-dan-jasa/tindakan-dokter"
									class="sidebar-menu-list-item">Tindakan dokter</a>
								<a data-doctype="VetGrooming" href="/main/dokter-dan-jasa/grooming"
									class="sidebar-menu-list-item">Grooming</a>
							</div>
							<div class="sidebar-menu-list-group">Tindak Lanjut
								<a data-doctype="VetInstalasiMedis" href="/main/dokter-dan-jasa/instalasi-medis"
									class="sidebar-menu-list-item">Instalasi Medis</a>
								<a data-doctype="VetRawatInap" href="/main/dokter-dan-jasa/rawat-inap"
									class="sidebar-menu-list-item">Rawat Inap</a>
							</div>
						</div>
						<div class="sidebar-menu-list-dropdown">
							<a href="/main/farmasi" class="sidebar-menu-list-dropdown-link">
								<img src="/static/img/main/menu-icon/farmasi.png"
									class="sidebar-menu-list-icon"></i>Farmasi
							</a>
							<a data-doctype="VetApotik" href="/main/farmasi/apotik"
								class="sidebar-menu-list-item">Apotik</a>
						</div>
						<div class="sidebar-menu-list-dropdown">
							<a href="/main/kasir" class="sidebar-menu-list-dropdown-link">
								<img src="/static/img/main/menu-icon/kasir.png" class="sidebar-menu-list-icon"></i>Kasir
							</a>
							<div class="sidebar-menu-list-group">Sales
								<a data-doctype="VetCustomerInvoice" href="/main/kasir/customer-invoices"
									class="sidebar-menu-list-item">Customer Invoices</a>
								<a data-doctype="VetCustomerInvoice" href="/main/kasir/rawat-inap-invoices"
									class="sidebar-menu-list-item">Rawat Inap Invoices</a>
								<a data-doctype="VetPosOrder" href="/main/kasir/pos-order"
									class="sidebar-menu-list-item">Order</a>
							</div>
							<div class="sidebar-menu-list-group">Payment
								<a data-doctype="VetOwnerCredit" href="/main/kasir/customer-payments"
									class="sidebar-menu-list-item">Customer Payments</a>
								<a data-doctype="VetPaymentMethod" href="/main/kasir/payment-method"
									class="sidebar-menu-list-item">Payment Methods</a>
								<a data-doctype="VetOwnerCredit" href="/main/kasir/deposit"
									class="sidebar-menu-list-item">Deposit</a>
								<a data-doctype="VetOwnerCredit" href="/main/kasir/piutang"
									class="sidebar-menu-list-item">Piutang</a>
							</div>
							<a data-doctype="VetPosSessions" href="/main/kasir/pos-sessions"
								class="sidebar-menu-list-item">Sessions</a>
							<a data-doctype="VetPosSessions" href="/main/kasir/reporting"
								class="sidebar-menu-list-item">Reporting</a>
						</div>
						<div class="sidebar-menu-list-dropdown">
							<a href="/main/purchases" class="sidebar-menu-list-dropdown-link">
								<img src="/static/img/main/menu-icon/purchase.png"
									class="sidebar-menu-list-icon">Purchases
							</a>
							<a data-doctype="VetPurchase" href="/main/purchases/purchase-order"
								class="sidebar-menu-list-item">Purchase Order</a>
							<a data-doctype="VetSupplier" href="/main/purchases/suppliers"
								class="sidebar-menu-list-item">Suppliers</a>
							<div class="sidebar-menu-list-group">Payment
								<a data-doctype="VetOwnerCredit" href="/main/purchases/supplier-payments"
									class="sidebar-menu-list-item">Supplier Payments</a>
								<a data-doctype="VetPaymentMethod" href="/main/accounting/payment-method"
									class="sidebar-menu-list-item">Payment Methods</a>
								<a data-doctype="VetOwnerCredit" href="/main/purchases/deposit"
									class="sidebar-menu-list-item">Deposit</a>
								<a data-doctype="VetOwnerCredit" href="/main/purchases/hutang"
									class="sidebar-menu-list-item">Hutang</a>
							</div>
						</div>
						<div class="sidebar-menu-list-dropdown">
							<a href="/main/rekam-medis" class="sidebar-menu-list-dropdown-link">
								<img src="/static/img/main/menu-icon/rekam-medis.png"
									class="sidebar-menu-list-icon"></i>Rekam Medis
							</a>
							<a data-doctype="VetRekamMedis" href="/main/rekam-medis/rekam-medis"
								class="sidebar-menu-list-item">Rekam Medis</a>
						</div>
						<div class="sidebar-menu-list-dropdown">
							<a href="/main/inventory" class="sidebar-menu-list-dropdown-link">
								<img src="/static/img/main/menu-icon/inventory.png"
									class="sidebar-menu-list-icon">Inventory
							</a>
							<a data-doctype="VetGudang" href="/main/inventory/warehouse"
								class="sidebar-menu-list-item">Warehouse</a>
							<div class="sidebar-menu-list-group"><a href="/main/inventory/inventory">Inventory</a>
								<a data-doctype="VetOperation" href="/main/inventory/operation"
									class="sidebar-menu-list-item">Operation</a>
								<a data-doctype="VetAdjustment" href="/main/inventory/adjustment"
									class="sidebar-menu-list-item">Adjustment</a>
								<a data-doctype="VetProductQuantity" href="/main/inventory/valuation"
									class="sidebar-menu-list-item">Valuation</a>
								<a data-doctype="VetOperation" href="/main/inventory/stock-move"
									class="sidebar-menu-list-item">Stock Move</a>
								<a data-doctype="VetOperation" href="/main/inventory/kartu-stok"
									class="sidebar-menu-list-item">Kartu Stok</a>
								<a data-doctype="VetOperation" href="/main/inventory/mutasi-persediaan"
									class="sidebar-menu-list-item">Mutasi Persediaan</a>
								<a data-doctype="VetUOM" href="/main/inventory/unit-of-measure"
									class="sidebar-menu-list-item">Unit Of Measurement</a>
								<a data-doctype="VetOperation" href="/main/inventory/usage"
									class="sidebar-menu-list-item">Penggunaan</a>
							</div>
							<div class="sidebar-menu-list-group">Products
								<a data-doctype="VetProduct" href="/main/inventory/products"
									class="sidebar-menu-list-item">Products</a>
								<a data-doctype="VetProductQuantity" href="/main/inventory/product-categories"
									class="sidebar-menu-list-item">Product Categories</a>
								<a data-doctype="VetTag" href="/main/inventory/product-tags"
									class="sidebar-menu-list-item">Product Tags</a>
							</div>
						</div>
						{% if frappe.session.user == "Administrator" %}
						<div class="sidebar-menu-list-dropdown">
							<a class="sidebar-menu-list-dropdown-link">
								<img src="/static/img/main/menu-icon/accounting.png"
									class="sidebar-menu-list-icon">Accounting
							</a>
							<div class="sidebar-menu-list-group">Journal
								<a data-doctype="VetJournalEntry" href="/main/accounting/journal-items"
									class="sidebar-menu-list-item">Journal Items</a>
								<a data-doctype="VetJournalEntry" href="/main/accounting/journal-entries"
									class="sidebar-menu-list-item">Journal Entries</a>
								<a data-doctype="VetCoa" href="/main/accounting/chart-of-accounts"
									class="sidebar-menu-list-item">Charts Of Account</a>
							</div>
							<div class="sidebar-menu-list-group">Accounting Reporting
								<a data-doctype="VetCoa" href="/main/accounting/trial-balance"
									class="sidebar-menu-list-item">Trial Balance</a>
								<a data-doctype="VetCoa" href="/main/accounting/balance-sheet"
									class="sidebar-menu-list-item">Balance Sheet</a>
								<a data-doctype="VetCoa" href="/main/accounting/profit-and-loss"
									class="sidebar-menu-list-item">Profit And Loss</a>
								<a data-doctype="VetCoa" href="/main/accounting/general-ledger"
									class="sidebar-menu-list-item">General Ledger</a>
								<a data-doctype="VetCoa" href="/main/accounting/closing-book"
									class="sidebar-menu-list-item">Closing Book</a>
							</div>
							<div class="sidebar-menu-list-group">Operation
								<a data-doctype="VetAsset" href="/main/accounting/asset"
									class="sidebar-menu-list-item">Asset</a>
								<a data-doctype="VetExpenses" href="/main/accounting/expenses"
									class="sidebar-menu-list-item">Expenses</a>
							</div>
							<div class="sidebar-menu-list-group">Reporting
								<a data-doctype="VetCustomerInvoice" href="/main/accounting/piutang-beredar"
									class="sidebar-menu-list-item">Piutang Beredar</a>
								<a data-doctype="VetPurchase" href="/main/accounting/hutang-beredar"
									class="sidebar-menu-list-item">Hutang Beredar</a>
								<a data-doctype="VetCustomerInvoice" href="/main/accounting/mutasi-piutang"
									class="sidebar-menu-list-item">Mutasi Piutang</a>
								<a data-doctype="VetPurchase" href="/main/accounting/mutasi-hutang"
									class="sidebar-menu-list-item">Mutasi Hutang</a>
								<a data-doctype="VetCustomerInvoice" href="/main/accounting/rekap-penjualan"
									class="sidebar-menu-list-item">Rekap Penjualan</a>
								<a data-doctype="VetCustomerInvoice" href="/main/accounting/detail-penjualan"
									class="sidebar-menu-list-item">Detail Penjualan</a>
							</div>
						</div>
						<div class="sidebar-menu-list-dropdown">
							<a class="sidebar-menu-list-dropdown-link">
								<i class="fa fa-cog fs22 mr-3" style="vertical-align: sub;"></i>Settings
							</a>
							<a data-admin_only="true" href="/main/settings" class="sidebar-menu-list-item">Settings</a>
							<a data-admin_only="true" href="/main/settings/migration"
								class="sidebar-menu-list-item">Migration</a>
							<a data-doctype="VetPetType" href="/main/settings/type-of-animals"
								class="sidebar-menu-list-item">Type Of Animals</a>
							<a data-doctype="VetKandang" href="/main/settings/ukuran-kandang"
								class="sidebar-menu-list-item">Ukuran Kandang</a>
							<a data-doctype="VetJournal" href="/main/settings/journals"
								class="sidebar-menu-list-item">Journals</a>
							<a data-admin_only="true" href="/main/settings/roles"
								class="sidebar-menu-list-item">Roles</a>
							<a data-admin_only="true" href="/main/settings/profile"
								class="sidebar-menu-list-item">Profile</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col px-0">
				{% include "templates/includes/navbar/navbar_main.html" %}
				<div class="main-page">
					{% block main_page %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/babel" src="/static/src/js/version-logo-babel.js"></script>
{% endblock %}

{% block footer %}{% endblock %}
{% block sidebar %}{% endblock %}