{% set page_title="List Rekam Medis" %}
{% extends "templates/main.html" %}
{% block title %}Rekam Medis{% endblock %}
{% block main_page %}
<div id="rekam_medis_list"></div>
<script type="text/babel" src="/static/src/js/filter-babel.js"></script>
<script type="text/babel" src="/static/src/js/search-bar-babel.js"></script>
<script type="text/babel" src="/static/src/js/pagination-babel.js"></script>
<script type="text/babel" src="/main/rekam-medis/rekam-medis/index-babel.js"></script>
{% endblock %}