{% set page_title="POS Order Payments" %}
{% extends "templates/main.html" %}
{% block title %}POS Order Payments{% endblock %}
{% block main_page %}
<div id="pos_order_payments"></div>
<script type="text/babel" src="/static/src/js/search-bar-babel.js"></script>
<script type="text/babel" src="/main/kasir/pos-order-payments/index-babel.js"></script>
<script type="text/babel" src="/static/src/js/pagination-babel.js"></script>
<script type="text/babel" src="/static/src/js/filter-babel.js"></script>
{% endblock %}