{% set page_title="Alur Inventory" %}
{% extends "templates/main.html" %}
{% block main_page %}
<div style="background: #FFFFFF; box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1); padding: 80px 0;">
	<div class="row justify-content-center">
		<div class="col-auto">
			<div class="row justify-content-center">
			    <div class="col-auto text-center">
					<img class="my-2" src="/static/img/main/menu/product.png">
				</div>
				<div class="col-auto text-center">
					<img src="/static/img/main/menu/right.png" class="mt-4">
				</div>
				<div class="col text-center">
					<p class="mb-0 mt-2 fs16 fw600 rounded" style="background: #C6EAFF; padding: 10px 25px; color: #056EAD; width: 348px;">
						Terdaftar
					</p>
					<div class="text-center">
						<img src="/static/img/main/menu/bottom-long.png" class="ml-4 mt-4 mb-2"><span class="fs16 fw600">Ya</span>
					</div>
					<div class="p-3 mx-5" style="border: 3px dashed #BDBDBD;">
						<a href="/main/purchases" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
							<img src="/static/img/main/menu/menuPurchase.png">
							<p class="mb-0">
								Purchase
							</p>
						</a>
					</div>
					<div class="text-center">
						<img src="/static/img/main/menu/bottom-short.png" class="my-3">
					</div>
					<a href="#" class="d-block" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
						<img src="/static/img/main/menu/menuIncoming.png">
						<p>
							Incoming
						</p>
					</a>
					<img src="/static/img/main/menu/bottom-short.png" class="my-3">
				</div>
				<div class="col-auto text-center">
					<img src="/static/img/main/menu/right.png" class="mt-4">
					<p class="fs16 fw600">Tidak</p>
				</div>
				<div class="col-auto text-center" style="width: 240px;">
					<a href="/main/inventory/product-categories" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
						<img src="/static/img/main/menu/menuNewProductCategory.png">
						<p>
							New Product<br>Category
						</p>
					</a>
					<div class="text-center">
						<img src="/static/img/main/menu/bottom-short.png" class="mb-3">
					</div>
					<a href="#" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
						<img src="/static/img/main/menu/menuNewProductCategory.png">
						<p>
							New Product<br>Variant
						</p>
					</a>
					<div class="text-center">
						<img src="/static/img/main/menu/bottom-short.png" class="mb-3">
					</div>
					<div class="position-relative">
					    <a href="/main/inventory/products/form" class="position-relative" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
    						<img src="/static/img/main/menu/menuNewProduct.png">
    						<p>
    							New Product
    						</p>
    					</a>
    					<img src="/static/img/main/menu/inventory-direction-up-left.png" class="position-absolute" style="left: -190px; bottom: 60px;">
					</div>
				</div>
			</div>
			<div class="row">
			    <div class="col-auto text-center" style="width: 240px;">
    			    <a href="#" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
    					<img src="/static/img/main/menu/menuAdjustment.png">
    					<p>
    						Inventory Adjustment
    					</p>
    				</a>
    			</div>
    			<div class="col-auto px-0 text-center">
					<img src="/static/img/main/menu/left-short.png" class="mt-5">
				</div>
				<div class="col-auto text-center" style="width: 260px;">
    			    <a href="/main/inventory/warehouse" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
    					<img src="/static/img/main/menu/menuWarehouse.png">
    					<p>
    						Warehouse
    					</p>
    				</a>
    				<img src="/static/img/main/menu/bottom-short.png" class="mb-2">
    				<a href="#" class="d-block" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
    					<img src="/static/img/main/menu/menuOutcoming.png">
    					<p>
    						Outcoming
    					</p>
    				</a>
    				<img src="/static/img/main/menu/bottom-short.png" class="mb-2">
    				<div class="p-3" style="border: 3px dashed #BDBDBD;">
        				<a href="#" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
        					<img src="/static/img/main/menu/menuKasir.png">
        					<p class="mb-0">
        						Sales
        					</p>
        				</a>
        			</div>
    			</div>
    			<div class="col-auto px-0 text-center">
					<img src="/static/img/main/menu/right-short.png" class="mt-5">
				</div>
				<div class="col-auto text-center" style="width: 240px;">
    			    <a href="#" style="font-family: Rubik; text-decoration: none; color: inherit; font-weight: 500; font-size: 16px;">
    					<img src="/static/img/main/menu/menuInternalTransfer.png">
    					<p>
    						Internal Transfer
    					</p>
    				</a>
    			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}