{% set page_title="Supplier Payments" %}
{% extends "templates/main.html" %}
{% block title %}Supplier Payments{% endblock %}
{% block main_page %}
<div id="supplier_payments" data-mode="payment"></div>
<script type="text/babel" src="/static/src/js/search-bar-babel.js"></script>
<script type="text/babel" src="/main/penerimaan/data-pemilik/credit-babel.js"></script>
<script type="text/babel" src="/static/src/js/pagination-babel.js"></script>
<script type="text/babel" src="/static/src/js/filter-babel.js"></script>
{% endblock %}